body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header h1 a {
    text-decoration: none;
    color: #333; /* ou a cor desejada para o texto */
}

header {
    background-color: #fff;
    color: #333;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-buttons {
    display: flex;
}

.button {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    background-color: #fff;
    color: #333;
    padding: 20px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left ul {
    list-style: none;
    padding: 0;
}

.footer-left ul li {
    display: inline-block;
    margin-right: 15px;
}

.footer-left ul li a {
    color: #333;
    text-decoration: none;
}

.footer-right {
    text-align: right;
}

.footer-brand {
    font-weight: bold;
}

.top-bar {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-button a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.featured-auctions-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.featured-auctions-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.featured-auctions-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.auction-card {
    background-color: #555;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

.auction-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.auction-card h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.auction-card a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.auction-card p {
    color: #ccc;
}

.auth-form label {
    display: block;
    margin-bottom: 10px; 
}

.auth-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-bottom: 10px;
}

.remember-me input[type="checkbox"] {
    margin-left: 10px; 
}


