.profile-container {
    margin-top: 20px;
    padding: 20px;
}

.top-bar {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumbs {
    font-size: 14px;
}

.profile-buttons {
    display: flex;
}

.button {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user-details {
    margin-left: 20px;
}

.user-details p {
    margin-bottom: 10px;
}

.user-details button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.auctions-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auctions-section {
    flex: 0 0 48%; /* 48% para garantir espaço entre os dois retângulos */
}

.auctions-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.auctions-section .featured-auctions-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}