.profile-container {
    margin-top: 20px;
    padding: 20px;
}

.top-bar {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumbs {
    font-size: 14px;
}

.profile-buttons {
    display: flex;
}

.button {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user-details {
    margin-left: 20px;
}

.user-details p {
    margin-bottom: 10px;
}

.user-details button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.auctions-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auctions-section {
    flex: 0 0 48%;
}

.auctions-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.auction-card {
    background-color: #555;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.auction-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.auction-card h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.auction-card a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.auction-card p {
    color: #ccc;
}